---

---
<header>
    <h1 class="title">You Dream It, We Create It</h1>
  </header>
  <main>
    <button id="cart-btn" type="button" class="btn btn-prod">
        <span id="show-hide-cart">Cart</span>
    </button>
    <div id="cart-container">
        <button class="btn-prod" id="clear-cart-btn">Clear Cart</button>
        <div id="products-container"></div>
        <p>Total number of items: <span id="total-items">0</span></p>
        <p>Subtotal: <span id="subtotal">$0</span></p>
        <p>Taxes:<span id="taxes">$0</span></p>
        <p>Total: <span id="total"></span></p>
    </div>
    <div id="bakery-card-container"></div>
  </main>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const cartContainer = document.getElementById('cart-container');
      const productsContainer = document.getElementById('products-container');
      const bakeryCards = document.getElementById('bakery-card-container');
  
      const cartBtn = document.getElementById('cart-btn');
      const clearCartBtn = document.getElementById('clear-cart-btn');
  
      const totalNumberOfItems = document.getElementById('total-items');
      const cartSubTotal = document.getElementById('subtotal');
      const cartTaxes = document.getElementById('taxes');
      const cartTotal = document.getElementById('total');
      const showHideCartSpan = document.getElementById('show-hide-cart');
      let isCartShowing = false;
  
      const products = [
        { id: 1, name: "Vanilla Cupcakes (6 Pack)", price: 12.99, category: "Cupcake" },
        { id: 2, name: "French Macaron", price: 3.99, category: "Macaron" },
        { id: 3, name: "Pumpkin Cupcake", price: 3.99, category: "Cupcake" },
        { id: 4, name: "Chocolate Cupcake", price: 5.99, category: "Cupcake" },
        { id: 5, name: "Chocolate Pretzels (4 Pack)", price: 10.99, category: "Pretzel" },
        { id: 6, name: "Almond Chocolate Croissant", price: 2.99, category: "Croissant" },
        { id: 7, name: "Chocolate Macarons (4 Pack)", price: 9.99, category: "Macaron" },
        { id: 8, name: "Strawberry Pretzel", price: 4.99, category: "Pretzel" },
        { id: 9, name: "Butter Pecan Ice Cream", price: 2.99, category: "Ice Cream" },
        { id: 10, name: "Rocky Road Ice Cream", price: 2.99, category: "Ice Cream" },
        { id: 11, name: "Vanilla Macarons (5 Pack)", price: 11.99, category: "Macaron" },
        { id: 12, name: "Lemon Cupcakes (4 Pack)", price: 12.99, category: "Cupcake" },
        { id: 13, name: "Classic Wedding Cake", price: 500, category: "Wedding Cakes" },
        { id: 14, name: "Blueberry Cupcake", price: 2.99, category: "Cupcake" },
        { id: 15, name: "Almond Croissant", price: 1.69, category: "Croissant" },
        { id: 16, name: "Custom Wedding Cake", price: 1000, category: "Wedding Cakes" },
      ];
  
      products.forEach(({ name, id, price, category }) => {
        bakeryCards.innerHTML += `
          <div class="bakery-card">
            <h2 style="color: var(--color-prod);">${name}</h2>
            <p style="color: var(--color-prod);" class="bakery-price">$${price}</p>
            <p style="color: var(--color-prod);" class="product-category">Category: ${category}</p>
            <button id=${id} class="btn-prod add-to-cart-btn">Add to cart</button>
          </div>
        `;
      });
  
      class ShoppingCart {
        constructor() {
          this.items = [];
          this.total = 0;
          this.taxRate = 8.25;
        }
  
        addItem(id, products) {
          const product = products.find(item => item.id === id);
          const { name, price } = product;
          this.items.push(product);
  
          const totalCountPerProduct = {};
  
          this.items.forEach(({ id }) => {
            totalCountPerProduct[id] = (totalCountPerProduct[id] || 0) + 1;
            const currentProductCount = totalCountPerProduct[id];
            const currentProductCountSpan = document.getElementById(`product-count-for-id${id}`);
  
            if (currentProductCount > 1) {
              currentProductCountSpan.textContent = `${currentProductCount}x`;
            } else {
              productsContainer.innerHTML += `
                <div id="bakery${id}" class="product">
                  <p><span class="product-count" id="product-count-for-id${id}"></span>${name}</p>
                  <p>${price}</p>
                </div>
              `;
            }
          });
        }
  
        getCounts() {
          return this.items.length;
        }
  
        clearCart() {
          if (!this.items.length) {
            alert("Your shopping cart is already empty");
            return;
          }
  
          const isCartCleared = confirm(
      "Are you sure you want to clear all items from your shopping cart?"
    );
  
    if (isCartCleared) {
      this.items = [];
      this.total = 0;
      productsContainer.innerHTML = "";
      totalNumberOfItems.textContent = 0;
      cartSubTotal.textContent = 0;
      cartTaxes.textContent = 0;
      cartTotal.textContent = 0;
    }
  
          this.items = [];
          alert("Your shopping cart has been cleared");
          this.updateCartUI();
        }
  
        updateCartUI() {
          totalNumberOfItems.innerText = '0';
          cartSubTotal.innerText = '$0';
          cartTaxes.innerText = '$0';
          cartTotal.innerText = '$0';
          productsContainer.innerHTML = '';
        }
  
        calculateTaxes(amount) {
          return parseFloat(((this.taxRate / 100) * amount).toFixed(2));
        }
  
        calculateTotal() {
          const subTotal = this.items.reduce((total, item) => total + item.price, 0);
          const tax = this.calculateTaxes(subTotal);
          this.total = subTotal + tax;
          cartSubTotal.textContent = `$${subTotal.toFixed(2)}`;
          cartTaxes.textContent = `$${tax.toFixed(2)}`;
          cartTotal.textContent = `$${this.total.toFixed(2)}`;
          return this.total;
        }
      }
  
      const cart = new ShoppingCart();
      const addToCartBtns = document.getElementsByClassName("add-to-cart-btn");
      [...addToCartBtns].forEach((btn) => {
        btn.addEventListener("click", (event) => {
          cart.addItem(Number(event.target.id), products);
          totalNumberOfItems.textContent = cart.getCounts();
          cart.calculateTotal();
        });
      });
  
      cartBtn.addEventListener("click", () => {
        isCartShowing = !isCartShowing;
        showHideCartSpan.textContent = isCartShowing ? "Hide" : "Show";
        cartContainer.style.display = isCartShowing ? "block" : "none";
      });
  
      clearCartBtn.addEventListener("click", cart.clearCart.bind(cart));
    });
  </script>